html{
    background-color: rgb(245, 245, 245);

}

body{
    font-family: sans-serif;
}

h1{
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}
h2{
    font-size: 20px;
    color: #606060;
    font-weight: 800;
}
p{
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.elementosLista{
    font-family: monospace ; font-size: 18px;
    margin-left: 100px;
    padding: 20px;
    border-style: solid; border-color: blue;
    max-width:  40%;
    list-style: none;
    line-height: 20px;

}

a{
    font-weight: bold;
}

ul li a {
    color: orange; text-decoration: underline;
}

.estiloNeuquenRionegro a{
    color: green; 
}

.estiloNeuquenRionegro{
    color: green;
}

li:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

